<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form [formGroup]="f" novalidate>

                    <div [hidden]="hideFormPersonalData">
                        <h1>Register</h1>

                        <p class="text-muted">Dates of your users</p>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>Select a kind of User!</label>                      
                                <select formControlName="idrole" class="form-control">
                                    <option *ngFor="let role of listRoles" [value]="role.idrole">
                                        {{role.description_role}}
                                    </option>
                                </select>
                            </div>
                        </div>
                            
                        <div class="input-group mb-2  has-feedback" [ngClass]="{'has-success': f.controls['full_name'].valid,
                            'has-error': f.controls['full_name'].invalid && (f.controls['full_name'].touched || f.controls['full_name'].dirty)}">
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user-plus fa-lg mt-2"></i></span>
                            </div>
                            <input type="text" formControlName="full_name" class="form-control" placeholder="Full Name" required>
                                                    
                        </div>

                        <div class="input-group mb-2">
                            <span class="text-danger" *ngIf="f.controls['full_name'].invalid && (f.controls['full_name'].touched || f.controls['full_name'].dirty)">
                                Mandatory Field of password with min 6 characters!
                            </span>
                        </div>

                        <div class="input-group mb-2  has-feedback" [ngClass]="{'has-success': f.controls['username'].valid,
                            'has-error': f.controls['username'].invalid && (f.controls['username'].touched || f.controls['username'].dirty)}">
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user-plus fa-lg mt-2"></i></span>
                            </div>
                            <input type="text" formControlName="username" class="form-control" placeholder="Username" required>
                                                    
                        </div>

                        <div class="input-group mb-2">
                            <span class="text-danger" *ngIf="f.controls['username'].invalid && (f.controls['username'].touched || f.controls['username'].dirty)">
                                Mandatory Field of password with min 8 characters!
                            </span>
                        </div>
                        
                        <div class="input-group mb-2" [ngClass]="{'has-success': f.controls['password'].valid,
                            'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock fa-lg mt-2"></i></span>
                            </div>
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                        </div>

                        <div class="input-group mb-2">
                            <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">
                                Mandatory Field of password with min 8 characters!
                            </span>
                        </div>

                        <div class="input-group mb-2" [ngClass]="{'has-success': f.controls['confirmPassword'].valid,
                        'has-error': f.controls['confirmPassword'].invalid && (f.controls['confirmPassword'].touched || f.controls['confirmPassword'].dirty)}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock fa-lg mt-2"></i></span>
                        </div>
                        <input required (ngModelChange)="changeConfirmPassword($event)" type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="current-password">
                        </div>

                        <div class="input-group mb-2">
                            <span class="text-danger" *ngIf="!verifyEqualsPass && (f.controls['confirmPassword'].touched || f.controls['confirmPassword'].dirty)">
                                Password and confirm password must be the same!
                            </span>
                        </div>      
                        
                    </div>

                    <div class="card-footer p-4">
                        <div class="row">
                            <button (click)="saveRecordUser()" [disabled]="f.invalid || !verifyEqualsPass" type="button" class="btn btn-block btn-success"><span> Salvar <i class="fa fa-save fa-lg mt-4"></i></span></button>
                        </div>
                    </div>
                    
                    
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>