<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i><b>Albums</b>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-6">
              <input type="text" [formControl]="searchByArtist" class="form-control" placeholder="Search for Artist">
            </div>
            <div class="col-md-2">
              <button (click)="searchAlbums()" type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>
                Search Albums
              </button>
            </div>
          </div>
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Artists</th>
                <th>Name Album</th>
                <th>Year Album</th>

                <th>Update Album</th>

              </tr>
            </thead>
            <tbody>

                <tr *ngFor="let album of listAlbums">
                  <td>{{album.artist}}</td>
                  <td>{{album.name_album}}</td>
                  <td>{{album.year_album}}</td>

                  <td>
                    <button (click)="loadFormAlbum(album)" class="btn btn-info">Update Album <i class="fa fa-pencil fa-lg mt-2"></i></button>
                  </td>

                  <td *ngIf="user.idrole == 1">
                    <button (click)="openModal(template, album)" class="btn btn-danger">Delete <i class="fa fa-trash fa-lg mt-2"></i></button>
                  </td>
                </tr>

            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>

              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Are you sure delete this album: {{album_descrition_modal}}?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
