<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form  [formGroup]="f" novalidate>  
                    <!-- form de alterar senha -->
                                           

                    <div class="input-group mb-4" [ngClass]="{'has-success': f.controls['newPassword'].valid,
                    'has-error': f.controls['newPassword'].invalid && (f.controls['newPassword'].touched || f.controls['newPassword'].dirty)}">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input required type="password" formControlName="newPassword" class="form-control" placeholder="Password">
                      <span class="text-danger" *ngIf="f.controls['newPassword'].invalid && (f.controls['newPassword'].touched || f.controls['newPassword'].dirty)">
                        A senha tem que ter no mínimo 8 Caracteres.
                    </span>
                    </div>

                    <div class="input-group mb-4" [ngClass]="{'has-success': f.controls['confirmPassword'].valid,
                    'has-error': f.controls['confirmPassword'].invalid && (f.controls['confirmPassword'].touched || f.controls['confirmPassword'].dirty)}">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input required (ngModelChange)="changeConfirmPassword($event)" type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirme a senha">
                      <span class="text-danger" *ngIf="!verifyEqualsPass && (f.controls['confirmPassword'].touched || f.controls['confirmPassword'].dirty)">Senha e confirmar senha devem serem iguais.</span>
                      
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" [disabled]="f.invalid || !verifyEqualsPass" (click)="updatePassword()" class="btn btn-primary px-4">Alterar Senha </button>
                      </div>
                      
                    </div>
  
                    <!-- fim do form de alterar senha -->
                  </form>
                  
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>  
