<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-8">
          <div class="card">
              <div class="card-header">
                  <strong>Artist {{artists}}</strong>
              </div>

              <form [formGroup]="f" novalidate class="form-horizontal">

                <input type="hidden" formControlName="idalbuns">

                  <div class="card-body">
                    <div class="form-group row">
                      <div class="col-md-12">

                        <label>Name Album</label>
                        <input type="text" formControlName="name_album" class="form-control" placeholder="Album" required>
                        <span *ngIf="f.controls['name_album'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span *ngIf="f.controls['name_album'].invalid && (f.controls['name_album'].touched || f.controls['name_album'].dirty)">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span class="text-danger">Mandatory Field of Name Album with min 2 characters!</span>
                        </span>

                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-12">

                        <label>Year Album</label>
                        <input type="text" formControlName="year_album" class="form-control" placeholder="Year from Released" required>
                        <span *ngIf="f.controls['year_album'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span *ngIf="f.controls['year_album'].invalid && (f.controls['year_album'].touched || f.controls['year_album'].dirty)">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span class="text-danger">Mandatory Field of Year Album with min 4 characters!</span>
                        </span>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <button (click)="insertUpdateAlbum()" [disabled]="f.invalid" type="button" class="btn btn-sm btn-success">
                          <i class="fa fa-save"></i>
                          Save Album
                        </button>
                      </div>
                    </div>

                  </div>

                </form>
            </div>
          </div>
      </div>
  </div><!--/.row-->
