<div class="animated fadeIn">

  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i><b>Artists</b>
        </div>
        <div class="card-body">


          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Id</th>
                <th>Twitter</th>
                <th>Name</th>

                <th>Register new Album</th>

              </tr>
            </thead>
            <tbody *ngFor="let list of listArtists">

                <tr *ngFor="let a of list">
                  <td>{{a.id}}</td>
                  <td>{{a.twitter}}</td>
                  <td>{{a.name}}</td>

                <td>
                  <button (click)="openFormAlbum(a)" class="btn btn-secondary">Register Album <i class="fa fa-save fa-lg mt-2"></i></button>
                </td>

                <!--td *ngIf="user.idtype_users == 1">
                  <button (click)="openModal(template, p)" class="btn btn-secondary">Alterar <i class="fa fa-pencil fa-lg mt-2"></i></button>
                </td-->
                </tr>

            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>

              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
