<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <form [formGroup]="f" novalidate>  <!-- começo da tag form -->
                    <h1>Music App</h1>

                    <!-- form de login -->
                    <div [hidden]="hideFormLogin">

                      <p class="text-muted">Full your username and password to access!</p>
                      <div class="input-group mb-3  has-feedback" [ngClass]="{'has-success': f.controls['username'].valid,
                      'has-error': f.controls['username'].invalid && (f.controls['username'].touched || f.controls['username'].dirty)}">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input type="text" formControlName="username" class="form-control" placeholder="User" required>
                        <span *ngIf="f.controls['username'].valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span *ngIf="f.controls['username'].invalid && (f.controls['username'].touched || f.controls['username'].dirty)">
                            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span class="text-danger">Mandatory Field of username with min 8 characters!</span>
                        </span>
                      </div>
                      <div class="input-group mb-4" [ngClass]="{'has-success': f.controls['password'].valid,
                      'has-error': f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)}">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="current-password" required>
                        <span class="text-danger" *ngIf="f.controls['password'].invalid && (f.controls['password'].touched || f.controls['password'].dirty)">
                          Mandatory Field of password with min 8 characters!
                      </span>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <button type="button" [disabled]="f.invalid" (click)="onSubmit()" class="btn btn-primary px-4">Acessar </button>
                        </div>                       
                      </div>
                    </div>  
                    <!-- fim do form de login -->
                  </form> <!-- fim da tag form -->
                  
                </div>
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                    <h2>New Register</h2>
                    <p>Create the register to use the system.</p>
                    <button (click)="openFormRecordUsers()" type="button" class="btn btn-primary active mt-3">Register!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>
  
